@{
    ViewData["Title"] = "Home Page ";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<a asp-action="Usuarios" asp-controller="Home" asp-route-estado="">Usuarios</a>
<hr />
<a asp-action="Documentos" asp-controller="Home" asp-route-estado="">Documentos</a>
<hr />
